* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

.boxes {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 500px;
  margin: 10px;
  padding: 10px;
}

.box {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  height: 200px;
  width: 300px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}